<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link href="/public/home.css" rel="stylesheet" type="text/css" >
</head>
<body>
<div class="all">
<h1>WELCOME TO X SCHOOLS</h1><br>

<P1>PLEASE SELECT CATEGORY BELOW:</P1><br>
<div class="student">
    <a href="http://localhost:7000/students/stu"><input type="button" value="NEW STUDENT"></a><br>
</div>

<div class="teacher">
<a href="http://localhost:7000/teachers/teach"><input type="button" value="NEW TEACHER"></a><br>
</div>
<div class="sub">
    <a href="http://localhost:7000/subjects/sub"><input type="button" value="SUBJECT"></a><br>
</div>
</div>
</body>
</html>