</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEACHER REGISTRATION</title>
    <link href="/public/teachstyle.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="all">
<form action="/teachers/teach" method="POST">
    <h1 style="width: 100%;">NEW TEACHER REGISTRATION</h1>
    <input type="text" placeholder=" staff Name" name="name" ><br><br>
    <input type="text" placeholder=" home Address" name="address"><br><br>
    <input type="text" placeholder=" AGE" name="age"><br><br>
    <a class="idd">STAFFID : </a>
    <input type="number" placeholder=" staffid" name="staffid"><br><br>
    <input type="submit" value ="SUBMIT">
</form>
    </div>
    
    </form>
</body>
</html>